<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.mapper.农民人均纯收入Mapper">
  <resultMap id="BaseResultMap" type="com.ydl.entity.农民人均纯收入">
    <id column="编号" jdbcType="INTEGER" property="编号" />
    <result column="年份" jdbcType="INTEGER" property="年份" />
    <result column="玉林市" jdbcType="INTEGER" property="玉林市" />
    <result column="玉州区" jdbcType="INTEGER" property="玉州区" />
    <result column="福绵区" jdbcType="INTEGER" property="福绵区" />
    <result column="容县" jdbcType="INTEGER" property="容县" />
    <result column="陆川县" jdbcType="INTEGER" property="陆川县" />
    <result column="博白县" jdbcType="INTEGER" property="博白县" />
    <result column="兴业县" jdbcType="INTEGER" property="兴业县" />
    <result column="北流市" jdbcType="INTEGER" property="北流市" />
  </resultMap>
  <sql id="Base_Column_List">
    编号, 年份, 玉林市, 玉州区, 福绵区, 容县, 陆川县, 博白县, 兴业县, 北流市
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 玉林市历年各县市区农民人均纯收入统计2000_2014
    where 编号 = #{编号,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from 玉林市历年各县市区农民人均纯收入统计2000_2014
    where 编号 = #{编号,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="编号" keyProperty="编号" parameterType="com.ydl.entity.农民人均纯收入" useGeneratedKeys="true">
    insert into 玉林市历年各县市区农民人均纯收入统计2000_2014 (年份, 玉林市, 玉州区, 
      福绵区, 容县, 陆川县, 博白县, 
      兴业县, 北流市)
    values (#{年份,jdbcType=INTEGER}, #{玉林市,jdbcType=INTEGER}, #{玉州区,jdbcType=INTEGER}, 
      #{福绵区,jdbcType=INTEGER}, #{容县,jdbcType=INTEGER}, #{陆川县,jdbcType=INTEGER}, #{博白县,jdbcType=INTEGER}, 
      #{兴业县,jdbcType=INTEGER}, #{北流市,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="编号" keyProperty="编号" parameterType="com.ydl.entity.农民人均纯收入" useGeneratedKeys="true">
    insert into 玉林市历年各县市区农民人均纯收入统计2000_2014
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="年份 != null">
        年份,
      </if>
      <if test="玉林市 != null">
        玉林市,
      </if>
      <if test="玉州区 != null">
        玉州区,
      </if>
      <if test="福绵区 != null">
        福绵区,
      </if>
      <if test="容县 != null">
        容县,
      </if>
      <if test="陆川县 != null">
        陆川县,
      </if>
      <if test="博白县 != null">
        博白县,
      </if>
      <if test="兴业县 != null">
        兴业县,
      </if>
      <if test="北流市 != null">
        北流市,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="年份 != null">
        #{年份,jdbcType=INTEGER},
      </if>
      <if test="玉林市 != null">
        #{玉林市,jdbcType=INTEGER},
      </if>
      <if test="玉州区 != null">
        #{玉州区,jdbcType=INTEGER},
      </if>
      <if test="福绵区 != null">
        #{福绵区,jdbcType=INTEGER},
      </if>
      <if test="容县 != null">
        #{容县,jdbcType=INTEGER},
      </if>
      <if test="陆川县 != null">
        #{陆川县,jdbcType=INTEGER},
      </if>
      <if test="博白县 != null">
        #{博白县,jdbcType=INTEGER},
      </if>
      <if test="兴业县 != null">
        #{兴业县,jdbcType=INTEGER},
      </if>
      <if test="北流市 != null">
        #{北流市,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydl.entity.农民人均纯收入">
    update 玉林市历年各县市区农民人均纯收入统计2000_2014
    <set>
      <if test="年份 != null">
        年份 = #{年份,jdbcType=INTEGER},
      </if>
      <if test="玉林市 != null">
        玉林市 = #{玉林市,jdbcType=INTEGER},
      </if>
      <if test="玉州区 != null">
        玉州区 = #{玉州区,jdbcType=INTEGER},
      </if>
      <if test="福绵区 != null">
        福绵区 = #{福绵区,jdbcType=INTEGER},
      </if>
      <if test="容县 != null">
        容县 = #{容县,jdbcType=INTEGER},
      </if>
      <if test="陆川县 != null">
        陆川县 = #{陆川县,jdbcType=INTEGER},
      </if>
      <if test="博白县 != null">
        博白县 = #{博白县,jdbcType=INTEGER},
      </if>
      <if test="兴业县 != null">
        兴业县 = #{兴业县,jdbcType=INTEGER},
      </if>
      <if test="北流市 != null">
        北流市 = #{北流市,jdbcType=INTEGER},
      </if>
    </set>
    where 编号 = #{编号,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydl.entity.农民人均纯收入">
    update 玉林市历年各县市区农民人均纯收入统计2000_2014
    set 年份 = #{年份,jdbcType=INTEGER},
      玉林市 = #{玉林市,jdbcType=INTEGER},
      玉州区 = #{玉州区,jdbcType=INTEGER},
      福绵区 = #{福绵区,jdbcType=INTEGER},
      容县 = #{容县,jdbcType=INTEGER},
      陆川县 = #{陆川县,jdbcType=INTEGER},
      博白县 = #{博白县,jdbcType=INTEGER},
      兴业县 = #{兴业县,jdbcType=INTEGER},
      北流市 = #{北流市,jdbcType=INTEGER}
    where 编号 = #{编号,jdbcType=INTEGER}
  </update>
</mapper>