<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydl.mapper.社会经济基本情况统计一2014Mapper">
  <resultMap id="BaseResultMap" type="com.ydl.entity.社会经济基本情况统计一2014">
    <id column="编号" jdbcType="INTEGER" property="编号" />
    <result column="县市区" jdbcType="VARCHAR" property="县市区" />
    <result column="年末总人口_人" jdbcType="INTEGER" property="年末总人口人" />
    <result column="年末总户数_户" jdbcType="INTEGER" property="年末总户数户" />
    <result column="常住人口_万人" jdbcType="REAL" property="常住人口万人" />
    <result column="常住人口_城镇人口_万人" jdbcType="REAL" property="常住人口城镇人口万人" />
    <result column="城镇化率" jdbcType="REAL" property="城镇化率" />
    <result column="地区生产总值_万元" jdbcType="INTEGER" property="地区生产总值万元" />
    <result column="地区生产总值_第一产业增加值_万元" jdbcType="INTEGER" property="地区生产总值第一产业增加值万元" />
    <result column="地区生产总值_第二产业增加值_万元" jdbcType="INTEGER" property="地区生产总值第二产业增加值万元" />
    <result column="地区生产总值_工业_万元" jdbcType="INTEGER" property="地区生产总值工业万元" />
    <result column="地区生产总值_第三产业增加值_万元" jdbcType="INTEGER" property="地区生产总值第三产业增加值万元" />
    <result column="人均地区生产总值_元" jdbcType="INTEGER" property="人均地区生产总值元" />
    <result column="地区生产总值指数" jdbcType="REAL" property="地区生产总值指数" />
    <result column="第一产业" jdbcType="REAL" property="第一产业" />
    <result column="第二产业" jdbcType="REAL" property="第二产业" />
    <result column="工业" jdbcType="REAL" property="工业" />
    <result column="第三产业" jdbcType="REAL" property="第三产业" />
    <result column="人均地区生产总值指数" jdbcType="REAL" property="人均地区生产总值指数" />
    <result column="财政收入_万元" jdbcType="INTEGER" property="财政收入万元" />
    <result column="财政收入_公共财政预算收入_万元" jdbcType="INTEGER" property="财政收入公共财政预算收入万元" />
    <result column="公共财政预算支出_万元" jdbcType="INTEGER" property="公共财政预算支出万元" />
    <result column="公共财政预算支出_公共服务支出_万元" jdbcType="INTEGER" property="公共财政预算支出公共服务支出万元" />
    <result column="公共财政预算支出_教育支出_万元" jdbcType="INTEGER" property="公共财政预算支出教育支出万元" />
    <result column="公共财政预算支出_农林水事务支出_万元" jdbcType="INTEGER" property="公共财政预算支出农林水事务支出万元" />
    <result column="年末单位从业人员数_人" jdbcType="INTEGER" property="年末单位从业人员数人" />
    <result column="年末单位从业人员数_女_人" jdbcType="INTEGER" property="年末单位从业人员数女人" />
    <result column="年末单位从业人员数_第二产业_人" jdbcType="INTEGER" property="年末单位从业人员数第二产业人" />
    <result column="年末单位从业人员数_第三产业_人" jdbcType="INTEGER" property="年末单位从业人员数第三产业人" />
    <result column="年末金融机构各项存款余额_亿元" jdbcType="REAL" property="年末金融机构各项存款余额亿元" />
    <result column="年末金融机构各项存款余额_储蓄存款余额_亿" jdbcType="REAL" property="年末金融机构各项存款余额储蓄存款余额亿" />
    <result column="年末金融机构各项贷款余额_亿元" jdbcType="REAL" property="年末金融机构各项贷款余额亿元" />
    <result column="农林牧渔业总产值_万元" jdbcType="INTEGER" property="农林牧渔业总产值万元" />
    <result column="农林牧渔业总产值指数" jdbcType="REAL" property="农林牧渔业总产值指数" />
    <result column="农业机械总动力_千瓦" jdbcType="INTEGER" property="农业机械总动力千瓦" />
    <result column="农用化肥施用实物量_吨" jdbcType="INTEGER" property="农用化肥施用实物量吨" />
    <result column="农药使用量_吨" jdbcType="INTEGER" property="农药使用量吨" />
    <result column="农作物总播种面积_公顷" jdbcType="INTEGER" property="农作物总播种面积公顷" />
    <result column="粮食作物播种面积_公顷" jdbcType="INTEGER" property="粮食作物播种面积公顷" />
    <result column="粮食作物播种面积_稻谷_公顷" jdbcType="INTEGER" property="粮食作物播种面积稻谷公顷" />
    <result column="粮食作物播种面积_玉米_公顷" jdbcType="INTEGER" property="粮食作物播种面积玉米公顷" />
    <result column="蔬菜播种面积_公顷" jdbcType="INTEGER" property="蔬菜播种面积公顷" />
    <result column="粮食总产量_吨" jdbcType="INTEGER" property="粮食总产量吨" />
  </resultMap>
  <sql id="Base_Column_List">
    编号, 县市区, 年末总人口_人, 年末总户数_户, 常住人口_万人, 常住人口_城镇人口_万人, 城镇化率, 地区生产总值_万元, 地区生产总值_第一产业增加值_万元, 
    地区生产总值_第二产业增加值_万元, 地区生产总值_工业_万元, 地区生产总值_第三产业增加值_万元, 人均地区生产总值_元, 地区生产总值指数, 第一产业, 第二产业, 
    工业, 第三产业, 人均地区生产总值指数, 财政收入_万元, 财政收入_公共财政预算收入_万元, 公共财政预算支出_万元, 公共财政预算支出_公共服务支出_万元, 
    公共财政预算支出_教育支出_万元, 公共财政预算支出_农林水事务支出_万元, 年末单位从业人员数_人, 年末单位从业人员数_女_人, 年末单位从业人员数_第二产业_人, 
    年末单位从业人员数_第三产业_人, 年末金融机构各项存款余额_亿元, 年末金融机构各项存款余额_储蓄存款余额_亿, 年末金融机构各项贷款余额_亿元, 农林牧渔业总产值_万元, 
    农林牧渔业总产值指数, 农业机械总动力_千瓦, 农用化肥施用实物量_吨, 农药使用量_吨, 农作物总播种面积_公顷, 粮食作物播种面积_公顷, 粮食作物播种面积_稻谷_公顷, 
    粮食作物播种面积_玉米_公顷, 蔬菜播种面积_公顷, 粮食总产量_吨
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 玉林市2014年各县市区社会经济基本情况统计一
    where 编号 = #{编号,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from 玉林市2014年各县市区社会经济基本情况统计一
    where 编号 = #{编号,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="编号" keyProperty="编号" parameterType="com.ydl.entity.社会经济基本情况统计一2014" useGeneratedKeys="true">
    insert into 玉林市2014年各县市区社会经济基本情况统计一 (县市区, 年末总人口_人, 年末总户数_户, 
      常住人口_万人, 常住人口_城镇人口_万人, 城镇化率, 地区生产总值_万元, 
      地区生产总值_第一产业增加值_万元, 地区生产总值_第二产业增加值_万元, 地区生产总值_工业_万元, 
      地区生产总值_第三产业增加值_万元, 人均地区生产总值_元, 地区生产总值指数, 
      第一产业, 第二产业, 工业, 第三产业, 
      人均地区生产总值指数, 财政收入_万元, 财政收入_公共财政预算收入_万元, 
      公共财政预算支出_万元, 公共财政预算支出_公共服务支出_万元, 公共财政预算支出_教育支出_万元, 
      公共财政预算支出_农林水事务支出_万元, 年末单位从业人员数_人, 年末单位从业人员数_女_人, 
      年末单位从业人员数_第二产业_人, 年末单位从业人员数_第三产业_人, 年末金融机构各项存款余额_亿元, 
      年末金融机构各项存款余额_储蓄存款余额_亿, 年末金融机构各项贷款余额_亿元, 农林牧渔业总产值_万元, 
      农林牧渔业总产值指数, 农业机械总动力_千瓦, 农用化肥施用实物量_吨, 
      农药使用量_吨, 农作物总播种面积_公顷, 粮食作物播种面积_公顷, 
      粮食作物播种面积_稻谷_公顷, 粮食作物播种面积_玉米_公顷, 蔬菜播种面积_公顷, 
      粮食总产量_吨)
    values (#{县市区,jdbcType=VARCHAR}, #{年末总人口人,jdbcType=INTEGER}, #{年末总户数户,jdbcType=INTEGER}, 
      #{常住人口万人,jdbcType=REAL}, #{常住人口城镇人口万人,jdbcType=REAL}, #{城镇化率,jdbcType=REAL}, #{地区生产总值万元,jdbcType=INTEGER}, 
      #{地区生产总值第一产业增加值万元,jdbcType=INTEGER}, #{地区生产总值第二产业增加值万元,jdbcType=INTEGER}, #{地区生产总值工业万元,jdbcType=INTEGER}, 
      #{地区生产总值第三产业增加值万元,jdbcType=INTEGER}, #{人均地区生产总值元,jdbcType=INTEGER}, #{地区生产总值指数,jdbcType=REAL}, 
      #{第一产业,jdbcType=REAL}, #{第二产业,jdbcType=REAL}, #{工业,jdbcType=REAL}, #{第三产业,jdbcType=REAL}, 
      #{人均地区生产总值指数,jdbcType=REAL}, #{财政收入万元,jdbcType=INTEGER}, #{财政收入公共财政预算收入万元,jdbcType=INTEGER}, 
      #{公共财政预算支出万元,jdbcType=INTEGER}, #{公共财政预算支出公共服务支出万元,jdbcType=INTEGER}, #{公共财政预算支出教育支出万元,jdbcType=INTEGER}, 
      #{公共财政预算支出农林水事务支出万元,jdbcType=INTEGER}, #{年末单位从业人员数人,jdbcType=INTEGER}, #{年末单位从业人员数女人,jdbcType=INTEGER}, 
      #{年末单位从业人员数第二产业人,jdbcType=INTEGER}, #{年末单位从业人员数第三产业人,jdbcType=INTEGER}, #{年末金融机构各项存款余额亿元,jdbcType=REAL}, 
      #{年末金融机构各项存款余额储蓄存款余额亿,jdbcType=REAL}, #{年末金融机构各项贷款余额亿元,jdbcType=REAL}, #{农林牧渔业总产值万元,jdbcType=INTEGER}, 
      #{农林牧渔业总产值指数,jdbcType=REAL}, #{农业机械总动力千瓦,jdbcType=INTEGER}, #{农用化肥施用实物量吨,jdbcType=INTEGER}, 
      #{农药使用量吨,jdbcType=INTEGER}, #{农作物总播种面积公顷,jdbcType=INTEGER}, #{粮食作物播种面积公顷,jdbcType=INTEGER}, 
      #{粮食作物播种面积稻谷公顷,jdbcType=INTEGER}, #{粮食作物播种面积玉米公顷,jdbcType=INTEGER}, #{蔬菜播种面积公顷,jdbcType=INTEGER}, 
      #{粮食总产量吨,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="编号" keyProperty="编号" parameterType="com.ydl.entity.社会经济基本情况统计一2014" useGeneratedKeys="true">
    insert into 玉林市2014年各县市区社会经济基本情况统计一
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="县市区 != null">
        县市区,
      </if>
      <if test="年末总人口人 != null">
        年末总人口_人,
      </if>
      <if test="年末总户数户 != null">
        年末总户数_户,
      </if>
      <if test="常住人口万人 != null">
        常住人口_万人,
      </if>
      <if test="常住人口城镇人口万人 != null">
        常住人口_城镇人口_万人,
      </if>
      <if test="城镇化率 != null">
        城镇化率,
      </if>
      <if test="地区生产总值万元 != null">
        地区生产总值_万元,
      </if>
      <if test="地区生产总值第一产业增加值万元 != null">
        地区生产总值_第一产业增加值_万元,
      </if>
      <if test="地区生产总值第二产业增加值万元 != null">
        地区生产总值_第二产业增加值_万元,
      </if>
      <if test="地区生产总值工业万元 != null">
        地区生产总值_工业_万元,
      </if>
      <if test="地区生产总值第三产业增加值万元 != null">
        地区生产总值_第三产业增加值_万元,
      </if>
      <if test="人均地区生产总值元 != null">
        人均地区生产总值_元,
      </if>
      <if test="地区生产总值指数 != null">
        地区生产总值指数,
      </if>
      <if test="第一产业 != null">
        第一产业,
      </if>
      <if test="第二产业 != null">
        第二产业,
      </if>
      <if test="工业 != null">
        工业,
      </if>
      <if test="第三产业 != null">
        第三产业,
      </if>
      <if test="人均地区生产总值指数 != null">
        人均地区生产总值指数,
      </if>
      <if test="财政收入万元 != null">
        财政收入_万元,
      </if>
      <if test="财政收入公共财政预算收入万元 != null">
        财政收入_公共财政预算收入_万元,
      </if>
      <if test="公共财政预算支出万元 != null">
        公共财政预算支出_万元,
      </if>
      <if test="公共财政预算支出公共服务支出万元 != null">
        公共财政预算支出_公共服务支出_万元,
      </if>
      <if test="公共财政预算支出教育支出万元 != null">
        公共财政预算支出_教育支出_万元,
      </if>
      <if test="公共财政预算支出农林水事务支出万元 != null">
        公共财政预算支出_农林水事务支出_万元,
      </if>
      <if test="年末单位从业人员数人 != null">
        年末单位从业人员数_人,
      </if>
      <if test="年末单位从业人员数女人 != null">
        年末单位从业人员数_女_人,
      </if>
      <if test="年末单位从业人员数第二产业人 != null">
        年末单位从业人员数_第二产业_人,
      </if>
      <if test="年末单位从业人员数第三产业人 != null">
        年末单位从业人员数_第三产业_人,
      </if>
      <if test="年末金融机构各项存款余额亿元 != null">
        年末金融机构各项存款余额_亿元,
      </if>
      <if test="年末金融机构各项存款余额储蓄存款余额亿 != null">
        年末金融机构各项存款余额_储蓄存款余额_亿,
      </if>
      <if test="年末金融机构各项贷款余额亿元 != null">
        年末金融机构各项贷款余额_亿元,
      </if>
      <if test="农林牧渔业总产值万元 != null">
        农林牧渔业总产值_万元,
      </if>
      <if test="农林牧渔业总产值指数 != null">
        农林牧渔业总产值指数,
      </if>
      <if test="农业机械总动力千瓦 != null">
        农业机械总动力_千瓦,
      </if>
      <if test="农用化肥施用实物量吨 != null">
        农用化肥施用实物量_吨,
      </if>
      <if test="农药使用量吨 != null">
        农药使用量_吨,
      </if>
      <if test="农作物总播种面积公顷 != null">
        农作物总播种面积_公顷,
      </if>
      <if test="粮食作物播种面积公顷 != null">
        粮食作物播种面积_公顷,
      </if>
      <if test="粮食作物播种面积稻谷公顷 != null">
        粮食作物播种面积_稻谷_公顷,
      </if>
      <if test="粮食作物播种面积玉米公顷 != null">
        粮食作物播种面积_玉米_公顷,
      </if>
      <if test="蔬菜播种面积公顷 != null">
        蔬菜播种面积_公顷,
      </if>
      <if test="粮食总产量吨 != null">
        粮食总产量_吨,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="县市区 != null">
        #{县市区,jdbcType=VARCHAR},
      </if>
      <if test="年末总人口人 != null">
        #{年末总人口人,jdbcType=INTEGER},
      </if>
      <if test="年末总户数户 != null">
        #{年末总户数户,jdbcType=INTEGER},
      </if>
      <if test="常住人口万人 != null">
        #{常住人口万人,jdbcType=REAL},
      </if>
      <if test="常住人口城镇人口万人 != null">
        #{常住人口城镇人口万人,jdbcType=REAL},
      </if>
      <if test="城镇化率 != null">
        #{城镇化率,jdbcType=REAL},
      </if>
      <if test="地区生产总值万元 != null">
        #{地区生产总值万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值第一产业增加值万元 != null">
        #{地区生产总值第一产业增加值万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值第二产业增加值万元 != null">
        #{地区生产总值第二产业增加值万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值工业万元 != null">
        #{地区生产总值工业万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值第三产业增加值万元 != null">
        #{地区生产总值第三产业增加值万元,jdbcType=INTEGER},
      </if>
      <if test="人均地区生产总值元 != null">
        #{人均地区生产总值元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值指数 != null">
        #{地区生产总值指数,jdbcType=REAL},
      </if>
      <if test="第一产业 != null">
        #{第一产业,jdbcType=REAL},
      </if>
      <if test="第二产业 != null">
        #{第二产业,jdbcType=REAL},
      </if>
      <if test="工业 != null">
        #{工业,jdbcType=REAL},
      </if>
      <if test="第三产业 != null">
        #{第三产业,jdbcType=REAL},
      </if>
      <if test="人均地区生产总值指数 != null">
        #{人均地区生产总值指数,jdbcType=REAL},
      </if>
      <if test="财政收入万元 != null">
        #{财政收入万元,jdbcType=INTEGER},
      </if>
      <if test="财政收入公共财政预算收入万元 != null">
        #{财政收入公共财政预算收入万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出万元 != null">
        #{公共财政预算支出万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出公共服务支出万元 != null">
        #{公共财政预算支出公共服务支出万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出教育支出万元 != null">
        #{公共财政预算支出教育支出万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出农林水事务支出万元 != null">
        #{公共财政预算支出农林水事务支出万元,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数人 != null">
        #{年末单位从业人员数人,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数女人 != null">
        #{年末单位从业人员数女人,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数第二产业人 != null">
        #{年末单位从业人员数第二产业人,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数第三产业人 != null">
        #{年末单位从业人员数第三产业人,jdbcType=INTEGER},
      </if>
      <if test="年末金融机构各项存款余额亿元 != null">
        #{年末金融机构各项存款余额亿元,jdbcType=REAL},
      </if>
      <if test="年末金融机构各项存款余额储蓄存款余额亿 != null">
        #{年末金融机构各项存款余额储蓄存款余额亿,jdbcType=REAL},
      </if>
      <if test="年末金融机构各项贷款余额亿元 != null">
        #{年末金融机构各项贷款余额亿元,jdbcType=REAL},
      </if>
      <if test="农林牧渔业总产值万元 != null">
        #{农林牧渔业总产值万元,jdbcType=INTEGER},
      </if>
      <if test="农林牧渔业总产值指数 != null">
        #{农林牧渔业总产值指数,jdbcType=REAL},
      </if>
      <if test="农业机械总动力千瓦 != null">
        #{农业机械总动力千瓦,jdbcType=INTEGER},
      </if>
      <if test="农用化肥施用实物量吨 != null">
        #{农用化肥施用实物量吨,jdbcType=INTEGER},
      </if>
      <if test="农药使用量吨 != null">
        #{农药使用量吨,jdbcType=INTEGER},
      </if>
      <if test="农作物总播种面积公顷 != null">
        #{农作物总播种面积公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食作物播种面积公顷 != null">
        #{粮食作物播种面积公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食作物播种面积稻谷公顷 != null">
        #{粮食作物播种面积稻谷公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食作物播种面积玉米公顷 != null">
        #{粮食作物播种面积玉米公顷,jdbcType=INTEGER},
      </if>
      <if test="蔬菜播种面积公顷 != null">
        #{蔬菜播种面积公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食总产量吨 != null">
        #{粮食总产量吨,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ydl.entity.社会经济基本情况统计一2014">
    update 玉林市2014年各县市区社会经济基本情况统计一
    <set>
      <if test="县市区 != null">
        县市区 = #{县市区,jdbcType=VARCHAR},
      </if>
      <if test="年末总人口人 != null">
        年末总人口_人 = #{年末总人口人,jdbcType=INTEGER},
      </if>
      <if test="年末总户数户 != null">
        年末总户数_户 = #{年末总户数户,jdbcType=INTEGER},
      </if>
      <if test="常住人口万人 != null">
        常住人口_万人 = #{常住人口万人,jdbcType=REAL},
      </if>
      <if test="常住人口城镇人口万人 != null">
        常住人口_城镇人口_万人 = #{常住人口城镇人口万人,jdbcType=REAL},
      </if>
      <if test="城镇化率 != null">
        城镇化率 = #{城镇化率,jdbcType=REAL},
      </if>
      <if test="地区生产总值万元 != null">
        地区生产总值_万元 = #{地区生产总值万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值第一产业增加值万元 != null">
        地区生产总值_第一产业增加值_万元 = #{地区生产总值第一产业增加值万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值第二产业增加值万元 != null">
        地区生产总值_第二产业增加值_万元 = #{地区生产总值第二产业增加值万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值工业万元 != null">
        地区生产总值_工业_万元 = #{地区生产总值工业万元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值第三产业增加值万元 != null">
        地区生产总值_第三产业增加值_万元 = #{地区生产总值第三产业增加值万元,jdbcType=INTEGER},
      </if>
      <if test="人均地区生产总值元 != null">
        人均地区生产总值_元 = #{人均地区生产总值元,jdbcType=INTEGER},
      </if>
      <if test="地区生产总值指数 != null">
        地区生产总值指数 = #{地区生产总值指数,jdbcType=REAL},
      </if>
      <if test="第一产业 != null">
        第一产业 = #{第一产业,jdbcType=REAL},
      </if>
      <if test="第二产业 != null">
        第二产业 = #{第二产业,jdbcType=REAL},
      </if>
      <if test="工业 != null">
        工业 = #{工业,jdbcType=REAL},
      </if>
      <if test="第三产业 != null">
        第三产业 = #{第三产业,jdbcType=REAL},
      </if>
      <if test="人均地区生产总值指数 != null">
        人均地区生产总值指数 = #{人均地区生产总值指数,jdbcType=REAL},
      </if>
      <if test="财政收入万元 != null">
        财政收入_万元 = #{财政收入万元,jdbcType=INTEGER},
      </if>
      <if test="财政收入公共财政预算收入万元 != null">
        财政收入_公共财政预算收入_万元 = #{财政收入公共财政预算收入万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出万元 != null">
        公共财政预算支出_万元 = #{公共财政预算支出万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出公共服务支出万元 != null">
        公共财政预算支出_公共服务支出_万元 = #{公共财政预算支出公共服务支出万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出教育支出万元 != null">
        公共财政预算支出_教育支出_万元 = #{公共财政预算支出教育支出万元,jdbcType=INTEGER},
      </if>
      <if test="公共财政预算支出农林水事务支出万元 != null">
        公共财政预算支出_农林水事务支出_万元 = #{公共财政预算支出农林水事务支出万元,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数人 != null">
        年末单位从业人员数_人 = #{年末单位从业人员数人,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数女人 != null">
        年末单位从业人员数_女_人 = #{年末单位从业人员数女人,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数第二产业人 != null">
        年末单位从业人员数_第二产业_人 = #{年末单位从业人员数第二产业人,jdbcType=INTEGER},
      </if>
      <if test="年末单位从业人员数第三产业人 != null">
        年末单位从业人员数_第三产业_人 = #{年末单位从业人员数第三产业人,jdbcType=INTEGER},
      </if>
      <if test="年末金融机构各项存款余额亿元 != null">
        年末金融机构各项存款余额_亿元 = #{年末金融机构各项存款余额亿元,jdbcType=REAL},
      </if>
      <if test="年末金融机构各项存款余额储蓄存款余额亿 != null">
        年末金融机构各项存款余额_储蓄存款余额_亿 = #{年末金融机构各项存款余额储蓄存款余额亿,jdbcType=REAL},
      </if>
      <if test="年末金融机构各项贷款余额亿元 != null">
        年末金融机构各项贷款余额_亿元 = #{年末金融机构各项贷款余额亿元,jdbcType=REAL},
      </if>
      <if test="农林牧渔业总产值万元 != null">
        农林牧渔业总产值_万元 = #{农林牧渔业总产值万元,jdbcType=INTEGER},
      </if>
      <if test="农林牧渔业总产值指数 != null">
        农林牧渔业总产值指数 = #{农林牧渔业总产值指数,jdbcType=REAL},
      </if>
      <if test="农业机械总动力千瓦 != null">
        农业机械总动力_千瓦 = #{农业机械总动力千瓦,jdbcType=INTEGER},
      </if>
      <if test="农用化肥施用实物量吨 != null">
        农用化肥施用实物量_吨 = #{农用化肥施用实物量吨,jdbcType=INTEGER},
      </if>
      <if test="农药使用量吨 != null">
        农药使用量_吨 = #{农药使用量吨,jdbcType=INTEGER},
      </if>
      <if test="农作物总播种面积公顷 != null">
        农作物总播种面积_公顷 = #{农作物总播种面积公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食作物播种面积公顷 != null">
        粮食作物播种面积_公顷 = #{粮食作物播种面积公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食作物播种面积稻谷公顷 != null">
        粮食作物播种面积_稻谷_公顷 = #{粮食作物播种面积稻谷公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食作物播种面积玉米公顷 != null">
        粮食作物播种面积_玉米_公顷 = #{粮食作物播种面积玉米公顷,jdbcType=INTEGER},
      </if>
      <if test="蔬菜播种面积公顷 != null">
        蔬菜播种面积_公顷 = #{蔬菜播种面积公顷,jdbcType=INTEGER},
      </if>
      <if test="粮食总产量吨 != null">
        粮食总产量_吨 = #{粮食总产量吨,jdbcType=INTEGER},
      </if>
    </set>
    where 编号 = #{编号,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ydl.entity.社会经济基本情况统计一2014">
    update 玉林市2014年各县市区社会经济基本情况统计一
    set 县市区 = #{县市区,jdbcType=VARCHAR},
      年末总人口_人 = #{年末总人口人,jdbcType=INTEGER},
      年末总户数_户 = #{年末总户数户,jdbcType=INTEGER},
      常住人口_万人 = #{常住人口万人,jdbcType=REAL},
      常住人口_城镇人口_万人 = #{常住人口城镇人口万人,jdbcType=REAL},
      城镇化率 = #{城镇化率,jdbcType=REAL},
      地区生产总值_万元 = #{地区生产总值万元,jdbcType=INTEGER},
      地区生产总值_第一产业增加值_万元 = #{地区生产总值第一产业增加值万元,jdbcType=INTEGER},
      地区生产总值_第二产业增加值_万元 = #{地区生产总值第二产业增加值万元,jdbcType=INTEGER},
      地区生产总值_工业_万元 = #{地区生产总值工业万元,jdbcType=INTEGER},
      地区生产总值_第三产业增加值_万元 = #{地区生产总值第三产业增加值万元,jdbcType=INTEGER},
      人均地区生产总值_元 = #{人均地区生产总值元,jdbcType=INTEGER},
      地区生产总值指数 = #{地区生产总值指数,jdbcType=REAL},
      第一产业 = #{第一产业,jdbcType=REAL},
      第二产业 = #{第二产业,jdbcType=REAL},
      工业 = #{工业,jdbcType=REAL},
      第三产业 = #{第三产业,jdbcType=REAL},
      人均地区生产总值指数 = #{人均地区生产总值指数,jdbcType=REAL},
      财政收入_万元 = #{财政收入万元,jdbcType=INTEGER},
      财政收入_公共财政预算收入_万元 = #{财政收入公共财政预算收入万元,jdbcType=INTEGER},
      公共财政预算支出_万元 = #{公共财政预算支出万元,jdbcType=INTEGER},
      公共财政预算支出_公共服务支出_万元 = #{公共财政预算支出公共服务支出万元,jdbcType=INTEGER},
      公共财政预算支出_教育支出_万元 = #{公共财政预算支出教育支出万元,jdbcType=INTEGER},
      公共财政预算支出_农林水事务支出_万元 = #{公共财政预算支出农林水事务支出万元,jdbcType=INTEGER},
      年末单位从业人员数_人 = #{年末单位从业人员数人,jdbcType=INTEGER},
      年末单位从业人员数_女_人 = #{年末单位从业人员数女人,jdbcType=INTEGER},
      年末单位从业人员数_第二产业_人 = #{年末单位从业人员数第二产业人,jdbcType=INTEGER},
      年末单位从业人员数_第三产业_人 = #{年末单位从业人员数第三产业人,jdbcType=INTEGER},
      年末金融机构各项存款余额_亿元 = #{年末金融机构各项存款余额亿元,jdbcType=REAL},
      年末金融机构各项存款余额_储蓄存款余额_亿 = #{年末金融机构各项存款余额储蓄存款余额亿,jdbcType=REAL},
      年末金融机构各项贷款余额_亿元 = #{年末金融机构各项贷款余额亿元,jdbcType=REAL},
      农林牧渔业总产值_万元 = #{农林牧渔业总产值万元,jdbcType=INTEGER},
      农林牧渔业总产值指数 = #{农林牧渔业总产值指数,jdbcType=REAL},
      农业机械总动力_千瓦 = #{农业机械总动力千瓦,jdbcType=INTEGER},
      农用化肥施用实物量_吨 = #{农用化肥施用实物量吨,jdbcType=INTEGER},
      农药使用量_吨 = #{农药使用量吨,jdbcType=INTEGER},
      农作物总播种面积_公顷 = #{农作物总播种面积公顷,jdbcType=INTEGER},
      粮食作物播种面积_公顷 = #{粮食作物播种面积公顷,jdbcType=INTEGER},
      粮食作物播种面积_稻谷_公顷 = #{粮食作物播种面积稻谷公顷,jdbcType=INTEGER},
      粮食作物播种面积_玉米_公顷 = #{粮食作物播种面积玉米公顷,jdbcType=INTEGER},
      蔬菜播种面积_公顷 = #{蔬菜播种面积公顷,jdbcType=INTEGER},
      粮食总产量_吨 = #{粮食总产量吨,jdbcType=INTEGER}
    where 编号 = #{编号,jdbcType=INTEGER}
  </update>
</mapper>